@import 'bootstrap.css';
@import 'bootstrap-responsive.css';

// Customs or Override
.alert-info {
  color: #F000F0; // I don't know which color fits better :TODO
  // color: #FFFFFF;
  background-color: #000000;
  border-color: #000000;
}

.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  border: 1px solid #e5e5e5;

  .form-signin-heading, .checkbox {
    margin-bottom: 10px;
  }

  input[type="text"], input[type="email"], input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
  }
}

::placeholder {
  color: red;
  opacity: 1;
}

input::placeholder, textarea::placeholder {
  color: #575757;
}
